<div class="container">
    <div class="col-sm-12">
	    <div class="col-sm-3 margin-img">
		    <img id="img-profile" class="img-thumbnail img-center img-rounded"<%= gravatar_for @user, size: 100 %>
	    </div>
	    <div class="col-sm-7 well margin-well">
	   		<h1><u></i><%=current_user.username.capitalize%>'s Stats:</u></h1>
        <ul>
          <li>Highest Score:</li>
          <li>WPM:</li>
          <li>Accuracy:</li>
        </ul>
		</div>
	</div>
  <div class="col-md-4 col-md-offset-4 center">
       <% if  current_user == @user%>
      <%= link_to 'Edit your profile', edit_user_path(@user),class: "btn btn-primary btn-lg"  %>
      <%end%>
    </div>
