<div class="container">
    <div class="col-sm-12">
	    <div class="col-sm-3 margin-img">
		    <img id="img-profile" class="img-thumbnail img-center img-rounded"<%= gravatar_for @user, size: 100 %>
        <% if  current_user == @user%>
            <%= link_to 'Edit your profile', edit_user_path(@user),class: "btn btn-primary btn-sm"  %>
        <%end%>
        </div>
      <div class="text">
  	    <div class="col-sm-7 well margin-well">
  	   		<h1><u></i><%=current_user.username.capitalize%>'s Stats:</u></h1>
          <ul><br>
            <li>Highest Score:</li>
            <li>WPM:</li>
            <li>Accuracy:</li>
          </ul>
  		 </div>
     </div>
  </div>

    <div id="past-score">
      <div class="col-sm-7 well margin-well">
        <h3><u></i><%=current_user.username.capitalize%>'s Previous Scores:</u></h3>
     </div>
   </div>

     <div id="global-score">
         <div class="col-sm-7 well margin-well">
           <h3><u></i>Global Scores:</u></h3>
         </div>
    </div>
  </div>
</div>
