<div class="parallax">
  <div id="section-1" class="parallax-section">
    <div class="parallax-layer parallax-layer-base">
      <div class="full-bg-img flex-center">
        <h1 class="h1-responsive log">LAVA-TYPER</h1></li>
        <a href="/games/new"><button id="play-button" type="button" name="Play Now"> Play Now</button></a>
      </div>
    </div>
    <div class="parallax-layer parallax-layer-back">
    </div>
  </div>
  <div class="container">
    <!-- <div id="section-2" > -->
      <div id="game-video">
      <!-- <div class="container text-xs-center p-t-3"> -->
    <img src="/game-gif.gif" alt="Loading" title="Loading" />
        <!-- </div> -->
      </div>
    <!-- </div> -->
  </div>
  <div class="container">
  <div class="iconcontainer">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-book"></span>
          </div>
          <div class="featureinfo about-game">
            <h4 class="text-center h1-responsive">About This Game:</h4>
            <p>Lava Typer is a fun game to help people improve their typing speed and accuracy.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-tasks"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center h1-responsive">Game Rules:</h4>
              <p>When the game starts, words will be falling towards the lava</p>
              <p>Use the keyboard to type in the words that are falling on the page</p>
              <p>type the words in before they hit the lava</p>
              <p>if the words hit the lava, you lose a life</p>
              <p>type in all the words correctly to win the game</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  <!-- <div class="parallax2"> -->

  <!-- <div id="section-1" class="parallax-section">
      <div class="parallax-layer parallax-layer-base">
          <div class="full-bg-img flex-center">

            </div>
        </div>
      <div class="parallax-layer parallax-layer-back">
      </div>
  </div>
  </div> -->
  <!-- <div id="section-2">
    <div class="container text-xs-center p-t-3">
        <h1 class="h1-responsive">Footer</h1>
        <p>created by</p>

    </div>
  </div> -->

</div>
