
  <div class="parallax">
      <div id="section-1" class="parallax-section">
          <div class="parallax-layer parallax-layer-base">
              <div class="full-bg-img flex-center">
                          <h1 class="h1-responsive log">LAVA</h1></li>
                          <p class="content">Welcome to the game</p>
                          <a class="btn btn-white-outline btn-lg"><i class="fa fa-user left"></i> Button 1</a>
                          <a class="btn btn-white-outline btn-lg"><i class="fa fa-book left"></i> Button 2</a>
                  </div>
              </div>
          <div class="parallax-layer parallax-layer-back">
        </div>
      </div>
      <div id="section-2" >
          <div class="container text-xs-center p-t-3">
              <h1 class="h1-responsive">About the game and rules</h1>
              <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum tempore laboriosam autem ratione adipisci dignissimos praesentium qui, repudiandae inventore, unde, officia at quam explicabo eveniet deserunt necessitatibus enim. Doloribus,
                  inventore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusamus perspiciatis debitis quia porro aliquid magnam illum consequatur quaerat culpa in voluptates, adipisci assumenda consectetur quibusdam consequuntur
                  officia harum earum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum tempore laboriosam autem ratione adipisci dignissimos praesentium qui, repudiandae inventore, unde, officia at quam explicabo eveniet deserunt necessitatibus enim. Doloribus,
                  inventore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusamus perspiciatis debitis quia porro aliquid magnam illum consequatur quaerat culpa in voluptates, adipisci assumenda consectetur quibusdam consequuntur
                  officia harum earum.</p>
          </div>
      </div>
        <div class="parallax2">
      <div id="section-1" class="parallax-section">
          <div class="parallax-layer parallax-layer-base">
              <div class="full-bg-img flex-center">

                </div>
            </div>
          <div class="parallax-layer parallax-layer-back">
          </div>
      </div>
  </div>
  <div id="section-2">
      <div class="container text-xs-center p-t-3">
          <h1 class="h1-responsive">Footer</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum tempore laboriosam autem ratione adipisci dignissimos praesentium qui, repudiandae inventore, unde, officia at quam explicabo eveniet deserunt necessitatibus enim. Doloribus,
              inventore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusamus perspiciatis debitis quia porro aliquid magnam illum consequatur quaerat culpa in voluptates, adipisci assumenda consectetur quibusdam consequuntur
              officia harum earum.</p>

      </div>
  </div>
</div>
