<br><br>
<div class="center jumbotron">
  <br>
    <center><a href="/"><img src="https://images.cooltext.com/4840947.png" width="935" height="97" alt="WELCOME TO L-TYPE" /></a></center>
</div>



<footer><a href="http://cooltext.com/Edit-Logo?LogoID=2218213731">Create Your Own Logo</a></footer>
