<div class="parallax">
  <div id="section-1" class="parallax-section">
    <div class="parallax-layer parallax-layer-base">
      <div class="full-bg-img flex-center ">
        <h1 class="h1-responsive log"><a href="/games/new"><button id="play-button" type="button" name="Play Now"> Play Now</button></a></h1>
      </div>
    </div>
  </div>
  <div class="container-rules">
    <div class="features-list">
      <div data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1">
        <i class="material-icons">flag</i>
        <p>Use the keyboard to type in the words</p>
      </div>
      <div data-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1">
        <i class="material-icons">flag</i>
        <p>Earn the badges as you progress</p>
      </div>
      <div data-100-bottom-top="transform: translateX(200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1">
        <i class="material-icons">flag</i>
        <p>If the word hit a lava you lose a life</p>
      </div>
    </div>
  </div>
  <div class="container-rules">
    <div class="body-text">
      <p  data-300-center-top="transform: scale(0.7); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida in odio vel tincidunt. Fusce quis lectus accumsan, accumsan nibh sed, aliquet purus. In vitae velit eu est cursus malesuada sed ut nibh. Curabitur a leo enim.
      </p>
      <div id="game-video">
        <img id="gif" src="/game-gif.gif" alt="Loading" title="Loading" />
      </div>
      <p data-100-center-top="transform: scale(0.7); opacity: 0" data-100-center-center="transform: scale(1); opacity: 1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida in odio vel tincidunt. Fusce quis lectus accumsan, accumsan nibh sed, aliquet purus. In vitae velit eu est cursus malesuada sed ut nibh. Curabitur a leo enim.
      </p>
    </div>
  </div>
  <footer>
    <div class="container">
      <p>The Lava Typers : &nbsp;
        <a href="https://github.com/jdollete" rel="author"> Allain Dollete </a> &nbsp; |&nbsp;
        <a href="https://github.com/arsy209" rel="author"> Arshdeep Singh </a> &nbsp;| &nbsp;
        <a href="https://github.com/asyaasha" rel="author"> Asiya Gizatulina </a> &nbsp;| &nbsp;
        <a href="https://github.com/evanrenaud" rel="author"> Evan Renaud </a> &nbsp;| &nbsp;
        <a href="https://github.com/mr-jungchoi" rel="author"> Jung Choi </a>&nbsp;
      </p>
    </div>
  </footer>
</div>
<script>
  skrollr.init();
</script>
