
<div class="parallax">
  <div id="section-1" class="parallax-section">
    <div class="parallax-layer parallax-layer-base">
      <div class="full-bg-img flex-center">
        <h1 class="h1-responsive log">LAVA-TYPER</h1></li>
        <a href="/games/new"><button  id="play-button" type="button" name="Play Now"> Play Now</button></a>
      </div>
    </div>
    <div class="parallax-layer parallax-layer-back">
    </div>
  </div>
  <div id="section-2" >
    <div class="container text-xs-center p-t-3">
      <h1 class="h1-responsive">About This Game:</h1>
      <p>Lava Typer is a fun game to help people improve their typing speed and accuracy.</p>
      <h1 class="h1-responsive">Game Rules:</h1>
      <ul>
        <li>When the game starts, words will be falling towards the lava</li>
        <li>Use the keyboard to type in the words that are falling on the page</li>
        <li>type the words in before they hit the lava</li>
        <li>if the words hit the lava, you lose a life</li>
        <li>type in all the words correctly to win the game</li>
      </ul>
    </div>
  </div>
  <div class="parallax2">
  <div id="section-1" class="parallax-section">
      <div class="parallax-layer parallax-layer-base">
          <div class="full-bg-img flex-center">

            </div>
        </div>
      <div class="parallax-layer parallax-layer-back">
      </div>
  </div>
  </div>
  <div id="section-2">
    <div class="container text-xs-center p-t-3">
        <h1 class="h1-responsive">Footer</h1>
        <p>created by</p>

    </div>
  </div>
</div>
