
<div class="parallax">
  <div id="section-1" class="parallax-section">
    <div class="parallax-layer parallax-layer-base">
      <div class="full-bg-img flex-center">
        <h1 class="h1-responsive log"><a href="/games/new"><button id="play-button" type="button" name="Play Now"> Play Now</button></a></h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="skrollr-body">
        <div class="features-list">
            <div data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1">
                <i class="material-icons">flag</i>
                <p>Use the keyboard to type in the words</p>
            </div>
            <div data-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1">
                <i class="material-icons">flag</i>
                <p>Earn the badges as you progress</p>
            </div>
            <div data-100-bottom-top="transform: translateX(200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1">
                <i class="material-icons">flag</i>
                <p>If the word hit a lava you lose a life</p>
            </div>
          </div>
          <div id="game-video">
            <img src="/game-gif.gif" alt="Loading" title="Loading" />
          </div>
        </div>
    </div>
    <div class="parallax2">
    <div id="section-1" class="parallax-section">
        <div class="parallax-layer parallax-layer-base">
            <div class="full-bg-img flex-center">

              </div>
          </div>
        <div class="parallax-layer parallax-layer-back">
            <video id="sampleMovie" src="HTML5Sample.mov" autoplay> </video>
        </div>
    </div>
    </div>
    <div id="section-2">
      <div class="container text-xs-center p-t-3">
          <h1 class="h1-responsive">Footer</h1>
          <p>created by</p>

      </div>
    </div>
</div>

<script>
    skrollr.init();
</script>
