<div class="game-background">
  <div class="canvas">
    <canvas id="myCanvas" width="500" height="600"></canvas>
    <canvas id="canvasLava" width="500" height="600"></canvas>
  </div>
  <input id="inputText" type="text" name="gametext" value="">

  <div class="level">
    <p>Level:</p>
    <select id="level">
      <option value="1"> Level 1 </option>
      <option value="2"> Level 2 </option>
      <option value="3"> Level 3 </option>
      <option value="4"> Level 4 </option>
      <option value="5"> Level 5 </option>
      <option value="6"> Level 6 </option>
      <option value="7"> Level 7 </option>
      <option value="8"> Level 8 </option>
      <option value="9"> Level 9 </option>
    </select>
  </div>

  <div class="level">
    <p>Category:</p>
    <select id="category">
      <option value="default"> Default </option>
      <option value="animals"> Animals </option>
      <option value="ruby"> Ruby </option>
      <option value="javascript"> Javascript </option>
    </select>
  </div>


  <div class="game-rules">
    <p> Lorem ipsum dolor sit amet, </p>
    <p>consectetur adipiscing elit.  </p>
    <p>Cras gravida in odio vel tincidunt. </p>
    <p> Fusce quis lectus accumsan, accumsan  </p>
    <p>nibh sed, aliquet purus. In vitae</p>
    <p> velit eu est cursus malesuada</p>
    <p> sed ut nibh. Curabitur a leo enim.</p>
  </div>
</div>
