body, html {
  height: 100%;
  padding: 10px;
  font-family: 'Varela Round';
}

.parallax2 {
  /**background-image: url('https://t3.ftcdn.net/jpg/01/16/32/82/240_F_116328207_zsoPI9CH1W1CiLIZFRPxx7HgVgOQX8DM.jpg');
  height: 100%;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: #00C2A2;
}

.parallax {
  background-image: url('https://0.s3.envato.com/files/121873343/preview.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #348FDF;
}

.mint{
  background-color: #00C2A2;
}

.blue{
  background-color: #348FDF;
}

#section-1 {
  z-index: 1;
  color: #fff;
  height: 100vh;
}

/*Parallax background*/
#section-1 .parallax-layer-back {
  background: url("http://mdbootstrap.com/images/regular/nature/img%20(54).jpg")no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Section with dummy content*/
#section-2 {
  z-index: 2;
  position: relative;
  background: #fff;
  width: 100%;
}

.log{
  font-size: 80px;
  margin: 80px;
  padding-top: 30px;
}

.content{
  font-size: 30px;
  margin: 80px;
}

/*=== 2. Anchor Link ===*/
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

.nav-tabs {
  margin-bottom: 15px;
}

.sign-with {
  margin-top: 25px;
  padding: 20px;
}

.link{
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  color:grey;
  cursor: pointer;
  margin-left: 20px;
}

.link-font {
  font-size: 20px;
}

#myModal{
  color:grey;
  font-size: 14px;
  width: 400px;
  left: 35%;
  top:10%;
}

#myModalLogin{
  font-size: 14px;
  color:grey;
  width: 400px;
  left: 35%;
  top:10%;
}

.form-control{
  width: 215px;
}

/*user profile**/
.container {
  width: 1000px;
}

.img-center{
  display: block;
	margin: 0px auto;
	text-align: center;
}

#img-profile{
  padding: 19px;
}

.container #img-profile{
	margin-top: 20px auto;
  background-color: lightgrey;
  padding-bottom: 41px;
}

.margin-img{
  margin-right: 10px;
}

.text-center{
  margin-top: 10px;
}

.text {
  display: block;
  margin-top: 21px auto;
  margin-right: 40px;
  padding-left: 2% auto;
  padding-bottom: 10% auto;
}

#profile-color {
 background-color: grey;
}

#past-score {
  margin-top: 20%;
  padding-left: 30px;
  margin-right: -37%;
}

#global-score {
  margin-top: 35%;
  padding-left: 30px;
  margin-right: -37%;
}
