body, html {
  height: 100%;
  padding: 10px;
  font-family: 'Roboto Slab';
  background-color: #201D1C;
  width:100%;
}

.edit-profile {
  background-color: lightgrey;
  position: absolute;
  margin-left: 100px;
  display: block;
  left: 200px;
}

.about-game {
  margin-bottom: 177px;
}

.iconcontainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.iconbox {
  background: #ffffff;
  background-color: lightgrey;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 25px;
  text-align: right;
  display: block;
  margin-top: 60px;
  margin-bottom: 15px;
}

.iconbox-icon {
  background-color: #008EED;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-top: -70px;
}

.iconbox-icon span {
  color: #fff;
  font-size: 42px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
  text-align: center;
  vertical-align: middle;
}

.featureinfo h4 {
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.featureinfo > p {
  color: #000000;
  font-size: 16px;
  padding-top: 4px;
  text-align: left;
}

.btn-default {
  text-shadow: 0px 1px 0px #FFF;
  background-image: linear-gradient(to bottom, #FFF 0px, #E0E0E0 100%);
  background-repeat: repeat-x;
  border-color: #CCC;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px
}

#play-button {
  margin: 200px auto 0;
  display: block;
  background: rgba(255, 0, 0, .2);
  font-size: 100px;
  color: #FCE9C7;
  border-style: solid;
  border-width: 4px;
  border-color: #FCE9C7;
}
#play-button:hover {
  font-size: 105px;
  color: white;
  border-color: white;
  background: rgba(255, 0, 0, .3);
}

#game-video {
  /*margin-left: 32%;*/
  display: inline-block;
}
.gif {
  left:50%;
  height:100px;
}
#gif {
  /*width:100%;*/
}
.image-container {
  left:60%;
}
.parallax {
  margin-top: 50px;
  background-image: url('http://www.mrietze.com/images/kongo07/ani-a512.gif');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #348FDF;
  width: 100%;
}

#section-1 {
  z-index: 1;
  color: #fff;
  height: 90vh;
}

/*Parallax background*/
#section-1 .parallax-layer-back {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section-2 {
  z-index: 2;
  position: relative;
  background: #fff;
  width: 100%;
}

#section-3 {
  z-index: 1;
  height: 40vh;
  position: relative;
  background: #201D1C;
  width: 100%;
}

.log{
  font-size: 80px;
  padding-top: 65px;
}

.content{
  font-size: 30px;
  margin: 80px;
}

/*=== 2. Anchor Link ===*/
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

.nav-tabs {
  margin-bottom: 15px;
}

.sign-with {
  margin-top: 25px;
  padding: 20px;
}

.link{
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  color:grey;
  cursor: pointer;
  margin-left: 20px;
}

.link-font {
  font-size: 20px;
}

#myModal{
  color:grey;
  font-size: 14px;
  width: 400px;
  left: 35%;
  top:10%;
}

#myModalLogin{
  font-size: 14px;
  color:grey;
  width: 400px;
  left: 35%;
  top:10%;
}

.form-control{
  width: 215px;
}

/*user profile**/
.container {
  width: 1000px;
}

.img-center{
  display: block;
  margin-top: 0px;
  text-align: center;
  background-color: white;
  margin-right: 5px;
}

#img-profile{
margin-top: 20px auto;
margin-bottom: 15px;
}

.container #img-profile{
  margin-top: 20px auto;
  margin-bottom: 15px auto;
}

.margin-img{
  margin-right: 10px;
}

.text-center{
  margin-top: 10px;
}

.text {
  display: block;
  margin-top: 21px auto;
  margin-right: 40px;
  margin-left: 2% auto;
  margin-bottom: 10% auto;
}

#past-score {
  margin-top: 20%;
  padding-left: 30px;
  margin-right: -37%;
}

#global-score {
  margin-top: 35%;
  padding-left: 30px;
  margin-right: -37%;
}

.canvas{
  width: 500px;
  height:100px;
  margin: 0px auto;
}

#inputText{
  font-size: 45px;
  font-family: "Arial";
  text-align: center;
  position: absolute;
  top: 780px;
  left: 400px;
  width: 501px;
  height:50px;
  margin: 0px auto;
  left:30%;
  outline: 0 none;
  border-style: solid;
}

canvas{
  position: absolute;
  top: 180px;
  left: 400px;
  left:30%;
  margin: 0px auto;
  background: transparent;
  margin: 0px auto;
  left:30%;
}

#myCanvas{
  z-index: 2;
  border-style: solid;
}

#canvasLava{
  z-index: 0;
}
.skrollr-desktop body {
  height:100% !important;
}

/*  Styles for this example */
.container-rules{
  width:100%;
}

.features-list{
  padding: 50px 0;
  background-color:#201D1C;
  color: #FCE9C7;
  font-size: 18px;
  min-height: 40vh;
  text-align: center;
}

.features-list div{
  background-color: black;
  opacity: 50%;
  display: inline-block;
  width: 20%;
  height:210px;
  margin: 50px;
  border: 2px solid #AB2A1A;
  padding: 10px;
}

.features-list div i{
  font-size: 50px;
  margin-bottom: 10px;
  color: #EB3A23;
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: #35547D;
  color:black;
  width: 100%;
}

.about-us h2{
  font-size: 42px;
  margin-bottom: 80px;
  font-weight: normal;
}

.about-us div{
  text-align: center;
  width: 25%;
  margin: 40px 30px;
  display: inline-block;
}

.about-us div img{
  border-radius: 50%;
  width: 30%;
}

.about-us a.attribution{
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: inherit;
  width: 280px;
  margin: 50px auto 10px;
  opacity: 0.5;
}


@media (max-width: 800px){
  .about-us div{
    width: 45%;
    margin: 20px 0;
  }
}

.well {
  height: auto;
}

/* demo */
@media (min-width:768px) {
  .inline-block-row {
    word-spacing: -1em;
    letter-spacing: -1em;
    overflow:hidden;
  }

  .inline-block-row .col-sm-4 {
    word-spacing: normal;
    vertical-align: top;
    letter-spacing: normal;
    display: inline-block;
    float:none;
  }
}
@media (min-width:992px) {
  .inline-block-row .col-md-3 {
    float:none;
  }
}

.level {
  font-size: 25px;
  margin-left: 40px;
}

.level p{
  color:white;
}

#logout{
  color: grey; text-decoration: none;
  font-size: 20px;
}

#logout_link{
  padding-top: 2.5px;
}

.body-text{
    padding: 20px 0;
    color: #25373C;
    font-size: 25px;
    min-height: 100vh;
    text-align: center;
}

.body-text h2{
    font-size: 42px;
    font-weight: normal;
    /*margin-bottom: 80px;*/
}

.body-text p{
    width: 25%;
    display: inline-block;
    text-align: left;
    padding: 30px;
    color: white;
}

@media (max-width: 900px){

    .body-text p{
        width: 100%;
    }

}
