/*home page footer*/
.container {
  max-width: 940px;
}

footer {
  color: #666;
  background: #222;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
}

footer a {
  color: #999;
}

footer a:hover {
  color: #efefef;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -63px;
}

.push {
  height: 63px;
}

@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  footer, .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
