/*game page */
canvas {
  position: absolute;
  top: 180px;
  left: 500px;
  left:40%;
  margin: 0px auto;
  background: transparent;
  margin: 0px auto;
}

.canvas div{
  width: 500px;
  height:100px;
  margin: 0px auto;
}

#myCanvas{
  z-index: 2;
}

#canvasLava{
  z-index: 0;
}

#inputText{
  font-size: 45px;
  font-family: "Arial";
  text-align: center;
  position: absolute;
  top: 780px;
  left: 500px;
  width: 500px;
  height:50px;
  margin: 0px auto;
  left:40%;
  background: none;
  color: white;
}

.level {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 40px;
}

.level p{
  color:#FCE9C7;
}

.game-background{
  overflow: hidden;
  margin-top: 50px;
  height: 100%;
  height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url("/gamebg.png");
  width: 100%;
}

.game-rules{
  display:block;
  /*position: absolute;*/
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: 1vw;
  color:#FCE9C7;
  text-align: left;
}

.no-dots {
  list-style-type: none;
}

ul.no-dots li {
  padding-top: 23px;
}
