.game-rules{
  display:block;
  float:right;
  font-size: 20px;
  margin-right: 150px;
  color:#FCE9C7;
}

.no-dots {
  list-style-type: none;
}

ul.no-dots li {
  padding-top: 5px;
  padding-bottom: 5px;
}
