// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}
