// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: #00C2A2;
}

.jumbotron {
  padding-top: 10px;
  background-color:#FFDC60;
  // this was left just incase we would want to add an image to the banner
  // background-image: asset-url('');
  background-size: cover;
  min-height: 300px;
}
