.loginfields {
  padding: 10px;
}

.login_text_field {
  border-radius: 5px;
}

#logout {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     margin-right: 25px;
}
