// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-center{
    display: block;
	margin: 0px auto;
	text-align: center;
}
#img-profile{
	padding: 10px;
}
.container #img-profile{
	margin-top: 16px;
}
.margin-img{
	margin-right: 20px;
}
.text-center{
	margin-top: 10px;
}
