<!-- Registration Form -->
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
    <ul class="dropdown-menu">
      <form class="" action="/users" method="post">
        <li>
          <div class="">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <label for="username">Email:</label>
              <input type="email" name="user[email]" value="" required>
          </div>
        </li>
        <li>
          <div class="">
            <label for="username">Username:</label>
            <input type="text" name="user[username]" value="" maxlength="20" required>
          </div>
        </li>
        <li>
          <div class="">
            <label for="password">Password:</label>
            <input type="password" name="user[password]" value="" required>
          </div>
        </li>
        <li>
          <div class="">
            <input class="btn-primary" type="submit" name="" value="Register!">
          </div>
        </li>
      </form>
    </ul>
  </li>
</ul>
<!-- Login Drop Down -->
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
    <ul class="dropdown-menu">
      <form class="" action="/sessions" method="post">
        <li>
          <div class="loginfields">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <label for="username">Username:</label>
              <input class="login_text_field" type="text" name="session[username]" value="">
          </div>
        </li>
        <li>
          <div class="loginfields">
            <form class="" action="/sessions" method="post">
              <label for="password">Password:</label>
              <input class="login_text_field" type="password" name="session[password]" value="">
          </div>
        </li>
        <li>
          <div class="loginfields">
            <input class="btn-primary" type="submit" name="" value="Login!">
          </div>
        </li>
      </form>
    </ul>
  </li>
</ul>
