<ul class="nav navbar-nav navbar-right">
  <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
  <li>
    <a>
      <form action="/logout" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="_method" value="delete">
        <input id="logout" class="btn btn-link" type="submit" value="Log out">
      </form>
    </a>
  </li>
</ul>
